<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Promise VS Observable</title>
  </head>

  <body>
    <div>
      <img
        id="data_plant"
        style="width: 100px; transform-origin: bottom"
        src="https://cdn-icons-png.flaticon.com/512/2427/2427720.png"
        alt=""
      />
    </div>
    <div>
      <button id="data-promise" (click)="clickPromiseButton($event)">promise</button>
      <button id="data-observable" (click)="cilckObservableButton($event)">observable</button>
      <button id="data-unsubscribe" (click)="clickUnsubscribe($event)">unsubscribe</button>
    </div>
  </body>
</html>
